body{
	font-family : Helvetica, Arial, Verdana, Geneva , sans-serif;
	padding: 0px;
	margin:0px;
}

.clear{
	clear: both;
}

.box{
	display:block;
	background-color: #ffffff;
	border:2px #eeeeee solid;
	padding: 5px 5px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: -5px 5px 5px #888;
}

.powered-by a{
	display:block;
	width: 228px;
	height: 70px;
	font-size: 0px;
	background: url("../img/powered-by.png") no-repeat scroll -1px 0 transparent;
	margin: 15px 0 0 -8px;
}

form .error{
	background-color: #ee0000;
}
