body{
	background: url("../img/propiedad-bg.png") repeat scroll 0 0 transparent;
}

.main{
	background-color: #e4e7ea;
	margin: 0;
	background: url("../img/propiedad-bg.png") repeat scroll 0 0 transparent;
}

.propiedad{
	display:block;
	background: #e4e7ea url("../img/propiedad-bg.png") repeat scroll 0 0 transparent;
	margin: 2px auto;
	width: 810px;
}

.clear{
	clear: both;
}
.left-column{
	display:block;
	float:left;
	width:210px;
	padding: 0 11px 0 10px;
}

.right-column{
	display:block;
	float:left;
	width:558px;
	padding: 0 0 0 12px;
}

.left-column .box{
	margin-top: 15px;
	width: 203px;
}

.right-column .box{
	margin-top: 15px;
	width:546px;
}

.box .title{
	background: url("../img/pro-start-title.png") no-repeat scroll 0 0 transparent;
	padding: 0 0;
	margin: 0 0 0 -14px;
	height: 39px;
}

.box .title span, .box .title .title-content, .box .title a{
	background: url("../img/pro-span-title.png") no-repeat scroll 0 0px transparent;
	display: block;
	height: 39px;
	margin: 0px 0px 0px 9px;
	color: #ffffff;
	font-size: 16px;
}

.box .title a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
}

.box .title-detalle{
	height: 44px;
	margin: 0px 0px 0px -17px;
	background: url("../img/pro-start-detalle-title.png") no-repeat scroll 0 0 transparent;
}

.box .title-detalle span{
	font-size: 0px;
	margin: 0 0 0 11px;
	background: url("../img/pro-detalle-title.png") no-repeat scroll 0 0 transparent;
}

.box .title-precio{
	width: 222px;
	height: 63px;
	margin: 0px 0px 0px -15px;
	background: url("../img/pro-start-precio-title.png") no-repeat scroll 0 0 transparent;
	float:left;
	overflow: hidden;
}

.box .title-precio .title-content{
	display: block;
	height: 63px;
	margin: 0 0 0 8px;
	padding: 5px 5px;
	background: url("../img/pro-precio-title.png") no-repeat scroll 0 0 transparent;
}

.box .title-precio .title-content h3{
	color: #ffffff;
	font-size: 22px;
	margin: 0;
}
.box .title-precio .title-content h4{
	color: #ffffff;
	font-size: 17px;
	margin: 0; 
}

.box .title-map{
	margin: 0 0 0 -15px;
	background: url("../img/pro-start-map-title.png") no-repeat scroll 0 0 transparent;
}

.box .title-map span{
	font-size: 0px;
	background: url("../img/pro-map-title.png") no-repeat scroll 0 0 transparent;
}

.box .title-broker{
	width: 217px;
	height: 47px;
	margin: 0px 0px 0px -17px;
	background: url("../img/pro-start-broker-title.png") no-repeat scroll 0 0 transparent;
	float:left;
	overflow: hidden;
}

.box .title-broker a{
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	height: 47px;
	margin: 0 0 0 8px;
	padding: 5px 5px;
	display: block;
	background: url("../img/pro-broker-title.png") no-repeat scroll 0 0 transparent;
}

.box .button{
	display:block;
	background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #DEDEDE);
    border: 1px solid #CCCCCC;
    border-radius:3px;
	-moz-border-radius:3px;
    color: #333333;
    height: 44px;
}

.abuse{
	font-size: 13px;
}

/**** form contact ***/

.contact{
	border: 1px solid #CCCCCC;
	border-top: none;
	border-radius:3px;
	-moz-border-radius:3px;
	padding: 0 1px 0 10px;
	width: 182px;
}

.form-contact {
	height: 336px;
	background: url("../img/propiedad-formulario-bg.png") no-repeat right bottom;
}

.form-contact .input-text{
	background: #ffffff url("../img/form-input-bg.png") repeat-x left top;
	width: 170px;
	border:2px #eeeeee solid;
	border-radius:3px;
	-moz-border-radius:3px;
	margin: 7px 0;
	color: #9b9797;
}

.form-contact .input-textarea{
	background: #ffffff url("../img/form-input-bg.png") repeat-x left top;
	width: 170px;
	border:2px #eeeeee solid;
	border-radius:3px;
	-moz-border-radius:3px;
	margin: 5px 0;
	color: #9b9797;
}

.form-contact .submit{
	display block;
	width: 164px;
	height: 42px;
	margin: 25px 10px 10px 5px;
}
.form-contact .input-submit{
	border: none;
	display block;
	width: 164px;
	height: 42px;
	background: url("../img/button-contactar.png") no-repeat scroll 0 0 transparent;
	font-size: 0px;
}

.form-contact-title{
	font-size: 16px;
	font-weight: bold;
}

.form-contact-message{
	display: block;
	color: #b1b1b1;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
}

.form-contact .error {
	background-color: transparent;
}

.form-contact .error .input-text{
	border:2px #ee0000 solid;
}

.form-contact .error .input-textarea{
	border:2px #ee0000 solid;
}
/************ Detalle ************/
.right-column .detalle{
	width:290px;
	height: 350px;
	float:left;
	margin: 20px 8px 5px 0px
}

.field-detalle-hidden{
	display: none;
}

.detalle .field-detalle-first{
	margin-top: 15px;
}


.detalle .field-detalle{
	font-size: 12px;
}

.detalle .field-detalle .label{
	color: #787878;
}

.detalle .field-detalle .value{
	color: #000000;
}

.detalle .field-detalle-precio{
	font-size: 15px;
}

.detalle .field-detalle-description{
	margin-top: 15px;
}

.detalle .field-detalle-description .label{
	border-bottom: 1px solid #787878;
	display: block;
	width: 280px;
}

.detalle .field-detalle-description .value{
	display: block;
	height: 60px;
	overflow:auto;
}

/************ Map ************/
.right-column .map {
	width:230px;
	height: 350px;
	float:left;
	margin: 20px 0px 5px 5px;
	padding: 5px 0 5px 6px;
}

.right-column .map .map-ubicacion{
	height: 26px;
	width: 179px;
	display: block;
	background: url("../img/pro-map-ubicacion.png") no-repeat scroll 0 0 transparent;
	font-size: 12px;
	overflow: hidden;
	padding: 3px 5px;
	margin: 3px auto;
	text-align: center;
}

.right-column .map #mapsearch{
	height: 270px;
	width: 224px;
	overflow: hidden;
}


.right-column .galery {
	border: none;
}

/* share buton*/


.share {
	float:left;
	height: 36px;
	width: 91px;
	display: block;
	margin: 8px 0px 0px 125px;
}

.share-button {
	
	height: 36px;
	width: 91px;
	display: block;
	font-size: 0px;
	background: url("../img/share.png") no-repeat scroll 0 0 transparent;
}

.share-button-label {
    display: inline-block;
    padding: 8px 15px;
}

.favorito{
	margin: 8px 0px 0px 10px;
	height: 36px;
	float:left;
	width: 107px;
	display: block;
}

.favorito-button .favorito-button-label{
	height: 36px;
	width: 107px;
	display: block;
	font-size: 0px;
	background: url("../img/favorito.png") no-repeat scroll 0 0 transparent;
}

.no-favorito-button .favorito-button-label{
	background: url("../img/no-favorito.png") no-repeat scroll 0 0 transparent;
}

.contact-button {
	background-color: #c7e151;
	background-image: -moz-linear-gradient(center top , #c7e151, #7ca118);
	color: #ffffff;
}