/*
#fb_left-column {
    display: block;
    float: left;
    padding-top: 0;
    position: relative;
    width: 200px;
}

#fb_right-column {
    display: block;
    float: left;
    margin-top: 0;
    padding-left: 10px;
    position: relative;
    width: 545px;
}


    Document   : Perfil de la Propiedad
    Created on : 11-Mayo-2010, 09:12:25 AM
    Author     :  Xolo, S.A. - Anallancy Lanuza
    Modified   :  Sol Investment, S.A. - Irving Medina
*/
/*#perfil{position:relative; display:block}*/


#fb_right-column label.beneficios{display:block; float:left; width:240px}
#map{width:758px; height:200px; margin-top:6px}
.fbtittle{border-top:1px solid #3b5998; padding:5px 4px; overflow:hidden; background-color:#eceff5; color:#000; font-size:11px; font-weight:bold}
h3{font-size:14px; color:#777; margin:0px; padding:0px; text-align:left}
h4{font-size:16px; color:#333; margin-top:0px; padding:0px 0px 10px 6px; text-align:left}
div.detail-actions{padding:4px 8px 2px 2px}
.message-box{border:1px solid #dec721; margin:10px 0px; padding:10px; background:#fffbd6 none repeat scroll 0% 0%; font-size:11px; font-weight:normal}
.message-box strong{font-weight:bold}
div.detail-actions{position:relative; border:1px solid #b8ce98; background-color:#e8f3d7; padding:4px}
div.detail-actions #like{float:left}

div.detail-actions #responde{ background:url(../img/btn_response.png) no-repeat 0% 100%; float:left; width:76px; height:18px}
div.detail-actions div.detail-actions #responde a{font-family:"lucida grande",tahoma,verdana,arial,sans-serif; font-size:11px; text-align:left; text-decoration:none; color:#3b5998; padding:0px 4px 0px 20px; display:block}

div.detail-actions #share iframe{ float:right;  padding:0px 3px}
.buzz{ margin-top:1px}
#btnResponde{background-color:#000}
div.detail-actions #share{  text-align:right;  margin:0px}
/*
.clearfix:after{content:"."; display:block; height:0pt; clear:both; visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
*/
.fbtittle a, #user_info a{color:#3b5998; text-decoration:none}
.user-data a, .property-data a, #user_info a{color:#3b5998; text-decoration:none}
.box{border-right:1px solid #ccc; padding-bottom:20px}

.box .people .people-pics .person{margin:1px; overflow:hidden; width:63px; float:left; text-align:center; padding-top:8px}
.box .people .people-links{padding:5px}
.box .people .people-links .people-count{float:left}
.box .people .people-links .see-all{float:right}
.box a{text-decoration:none}

.property-data{text-align:left; padding-top:4px; padding-bottom:4px}
.user-data, .property-data{padding:6px}

.header{text-align:left; position:relative}
.header h4{float:left; margin-top:4px; margin-bottom:0px; padding:0px; font-size:13px}
.header span{padding:0px; margin:0px; display:block; font-size:12px}
.header .button_group{margin:0px; padding:0px}
.header .button_group a{margin:0px}

#detalle{width:100%; margin-top:10px; margin-bottom:10px}

#detalle .column1, #detalle .column2{float:left; width:265px;}
#detalle .column1{padding-right:15px;}
#detalle #mapsearch{width:100%; height:270px; position:relative; background-color:#e3e3e3; border:1px solid #ccc}
#detalle table{width:100%}
#detalle th, #detalle td{vertical-align:top; padding:2px; font-size:11px}
#detalle th{text-align:right; font-weight:normal; width:40%}
#detalle td{text-align:right; font-weight:bold; text-align:left}
#detalle h6{margin-bottom:4px; margin-top:6px}

#no-image{border:1px solid #ccc; padding:4px; width:532px; margin:0 auto; text-align:center}

.info_propiedades{padding:6px; background-color:#f1f1f1; margin-top:10px; color:#24458c}
.info_propiedades strong{font-weight:bold}
.info_propiedades .propiedades{float:left}
.info_propiedades .creditos{float:right}

#fb_poster-info{padding-bottom:10px}
#user_info{border-bottom:1px solid #CCC}
#user_info #fb_poster-info{float:left; width:auto; width:170px; padding-bottom:0px}
#user_info #fb_poster-info img{width:163px; height:155px}
#user_info .box{border-right:0px; width:700px; float:right; margin:0px; padding:0px; height:auto}
#user_info .picture{border:1px solid #ccc; width:50px; height:50px; padding:1px; border-top:0px; line-height:50px; background-position:center center; background-repeat:no-repeat; float:left}
#user_info .info_usuario{padding:0px 6px 2px 0px}
#user_info .info_usuario span{display:block; padding-bottom:2px; color:#666}
#user_info .info_usuario span strong{color:#000}

#lista_propiedades div.filtros{padding:10px 8px 10px 8px}
#lista_propiedades .grid{border:1px solid #CCC}

#lista_propiedades  .button_group{text-align:right; border-top:1px solid #3b5998; padding-top:4px; width:100%}
#lista_propiedades  .button_group a.button{color:#00f; background:none; border:none; font-size:11px; text-decoration:underline; font-weight:normal}

#user_info .info_usuario span label{color:#000; width:100px; display:inline-block}

.button_group{text-align:right; padding:2px}
.button_group a.button{color:#FFF; background:url("../img/sprite.gif") 0 -96px; border:1px solid #3b6e22; display:inline-block}

#user_info .box .button_group{text-align:center}
#user_info .box .button_group a.button{color:#FFF}
#user_info .box .button_group input.button{color:#FFF; background:url("../img/sprite.gif") 0 -96px; border:1px solid #3b6e22; display:inline-block; font-family:Tahoma,Geneva,sans-serif; font-size:10px; font-weight:bold; margin-top:10px; padding:3px 10px}
#user_info_form #user_info{border-bottom:0px solid #CCC}
#user_info_form #user_info span{margin-bottom:6px}

#user_info .info_usuario input{padding-top:2px; padding-bottom:2px}

.profile .info_usuario input{ width:190px;  display:block}
.user-data label{ display:block;  cursor:auto}
#youpreview{ float:right;  padding:0px 4px}
.person img{ display:block;  position:relative}

#detalle .value_details{font-weight: normal;}
#detalle .table_description{font-size:13px; color:#3B5998;}

div.detail-actions #share a.share-as {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ffffff;
    margin-right: 3px;
    padding-top: 2px;
}

div.detail-actions #share a.share-as:hover {
    text-decoration: underline;
}

div.detail-actions .share {float:left; margin-top:1px; margin-right: 5px; display: block;}

/* Main base */
.main {
	margin: 2px auto;
	width: 800px;
}

.main h3 {
    color: #666666;
    display: block;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0 2px;
    width: 100%;
}

/* share buton*/

.share-button {
    background-color: white;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #DEDEDE);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    float: left;
    font-weight: bold;
    height: 18px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    vertical-align: top;
    white-space: nowrap;
}

.share-button i {
    height: 16px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 16px;
    background-repeat: no-repeat;
}

.share-button-label {
    display: inline-block;
    padding: 2px 4px 0 19px;
}
.share-button i.favorito {
    background: url("../img/estrella_llena.png") no-repeat scroll 0 0 transparent;
}
.share-button i.no-favorito {
    background: url("../img/estrella_vacia.png") no-repeat scroll 0 0 transparent;
}
.share-button i.twitter {
	background: url("../img/twitter.gif") no-repeat scroll 0 0 transparent;
}
.share-button i.fan {
	background: url("../img/house_azul.png") no-repeat scroll 0 0 transparent;
}
.share-button i.send {
	top: 2px;
	background: url("../img/contact.png") no-repeat scroll 0 0 transparent;
}
.share-button i.msg {
	background-image: url("https://s-static.ak.fbcdn.net/rsrc.php/v1/zU/r/eTtOehdp5oY.png");
	background-position: -13px 0;
	height: 14px;
    width: 13px;
}