<html>
    <body>
    	<table style="width: 400px; background-color: #dbdfe1;">
    		<tr>
    			<td>
	    		<table style="border-collapse:collapse;">
	 				<tr style="padding: 0 0;">
	    				<td style="padding: 0px 0px 0px 0px;">
	    					<img style="margin: 0 0;" alt="BROKER CONTACT" src="https://propiedad.hmapp.com/img/band-mail-title-broker.png">
						</td>
					</tr>
					<tr style="padding: 0 0;">
	    				<td style="padding: 0 0 0 10px;">
	    				<table style="background-color: #ffffff; border-right:2px solid #adaeb0; border-left:2px solid #adaeb0; border-bottom: none; border-top: none; padding: 5px 5px; width:301px">
	    					<tr>
	    						<td>Nombre de contacto : </td><td><?php echo $this->Broker->NombreCliente?></td>
	    					</tr>
	    					<tr>
	    						<td>Nombre de Empresa : </td><td><?php echo $this->Broker->NombreEmpresa?></td>
	    					</tr>
	    					<tr>
	    						<td>Mas informacion : </td>
	    						<td>
	    							<a href="https://www.facebook.com/<?php echo $this->Broker->profilePageID?>">
	        						https://www.facebook.com/<?php echo $this->Broker->profilePageID?>
	        						</a>
	        					</td>
	    					</tr>
	    				</table>
	    				</td>
	    			</tr>
	    			<tr style="padding: 0 0;">
	    				<td style="padding: 0 0 0 10px;">
	    					<img style="margin: 0 0;" alt="" src="https://propiedad.hmapp.com/img/band-mail-pied.png">
						</td>
					</tr>
	    		</table>
	    		</td>
	    		<td>
	    		<table style="border-collapse:collapse;">
	 				<tr style="padding: 0 0;">
	    				<td style="padding: 0px 0px 0px 0px;">
	    					<img style="margin: 0 0;" alt="PROPIEDAD" src="https://propiedad.hmapp.com/img/band-mail-title-propiedad.png">
						</td>
					</tr>
					<tr style="padding: 0 0;">
	    				<td style="padding: 0 0 0 10px;">
	    				<table style="background-color: #ffffff; border-right:2px solid #adaeb0; border-left:2px solid #adaeb0; border-bottom: none; border-top: none; padding: 5px 5px; width:301px">
	    					<tr>
	    						<td>Nombre :</td><td><?php echo $this->Propiedad->NombrePropiedad?></td>
	    					</tr>
	    					<tr>
	    						<td>Identifier :</td><td><?php echo $this->Propiedad->CodigoPropiedad?></td>
	    					</tr>
	    					<tr>
	    						<td>Direccion : </td><td><?php echo $this->Propiedad->Direccion?></td>
	    					</tr>
	    					<tr>
	    						<td>Precio de Venta : </td><td><?php echo $this->Propiedad->detallePrecioVentaSafe?></td>
	    					</tr>
	    					<tr>
	    						<td>Precio de Renta : </td><td><?php echo $this->Propiedad->detallePrecioAlquilerSafe?></td>
	    					</tr>
	    					<tr>
	    						<td>Descripcion : </td><td><?php echo $this->Propiedad->DescPropiedad?></td>
	    					</tr>
	    					<tr>
	    						<td>Mas informacion : </td>
	    						<td>
	    							<a href="http://propiedad.hmapp.com/show/propiedad/<?php echo $this->Propiedad->CodigoPropiedad?>">
        								http://propiedad.hmapp.com/show/propiedad/<?php echo $this->Propiedad->CodigoPropiedad?>
        							</a>
	    						</td>
	    					</tr>
	    				</table>
	    				</td>
	    			</tr>
	    			<tr style="padding: 0 0;">
	    				<td style="padding: 0 0 0 10px;">
	    					<img style="margin: 0 0;" alt="" src="https://propiedad.hmapp.com/img/band-mail-pied.png">
						</td>
					</tr>
	    		</table>
	    		</td>
    		</tr>
    		<tr>
    			<td>
    				<a href="https://tab.hmapp.com">
						<img alt="powered By housemarket" src="https://propiedad.hmapp.com/img/powered-by.png">
					</a>
    			</td>
    		</tr>
    	</table>
    </body>
</html>