<div class="propiedad">    
        <div class="left-column">
            <div class="box">
            	<div class="broker-img"> 
	                <a target="_blank" href="<?php echo $this->broker->Url;?>">
	                    <img  src="<?php echo $this->broker->PicBig;?>" alt="<?php echo $this->broker->NombreCliente;?>" title="<?php echo $this->broker->NombreCliente;?>" />
	                </a>                
	            </div>
                <div class="title title-broker">
                	<a target="_blank" href="<?php echo $this->broker->Url;?>" >
                	<?php if (!empty($this->broker->NombreEmpresa)) { ?>
                    	<?php echo $this->broker->NombreEmpresa;?>
                    <?php } else { ?>
                		<?php echo $this->broker->NombreCliente;?>
                	<?php }?>
                	</a>
                </div>
                <div class="contact">
                	<?php echo $this->formContact ?>
                </div>
                <div class="clear"></div>
            </div>
            
            <div class="powered-by">
            	<a href="/">
            		<i18n>POWERED_BY_HOUSEMARKET</i18n>
            	</a>
            </div>
        </div>
        <div class="right-column">
        	<div class="box">
        		<div class="title title-precio">
        			<div  class="title-content">
        				<?php if(!isset($this->propiedad->detallePrecioVenta)){?>
        					<?php if(isset($this->propiedad->detallePrecioAlquiler)){?>
        						<h3><?php echo $this->propiedad->detallePrecioAlquiler;?>  / mes</h3>
        					<?php } else {?>
        						<h3>N/a</h3>
        					<?php }?>
        				<?php } else {?>
        					<h3><?php echo $this->propiedad->detallePrecioVenta;?></h3>
        					<?php if(isset($this->propiedad->detallePrecioAlquiler)){?>
        						<h4><?php echo $this->propiedad->detallePrecioAlquiler;?> / mes</h4>
        					<?php }?>
        				<?php }?>
        			</div>
        		</div>
                <div class="share">
                <!-- &t=<?php echo $this->propiedad->NombrePropiedad?> -->
                    <a target="_blank" href="https://www.facebook.com/sharer.php?u=<?php echo urlencode($this->local_app_url .'show/propiedad/'. $this->propiedad->CodigoPropiedad);?>" id="fb-share-button" class="share-button">
                    	<span class="share-button-label"><i18n>LABEL_SHARE</i18n></span>
                    </a>
                </div>
                <div class="favorito">
                <?php if($this->favorito){?>
                	<a class="favorito-button" href="/propiedad/unlike?id=<?php echo $this->propiedad->CodigoPropiedad;?>">
                    	<span class="favorito-button-label"><i18n>LABEL_BORAR_FAVORITO</i18n></span>
                    </a>
                <?php } else {?>
                	<a class="favorito-button no-favorito-button" href="/propiedad/like?id=<?php echo $this->propiedad->CodigoPropiedad;?>">
                    	<span class="favorito-button-label"><i18n>LABEL_AGREGAR_FAVORITO</i18n></span>
                    </a>
                <?php }?>
                </div>
               	<div id="carousel">
                        <ul>
                        	<?php $ultimafoto = null;?>
							<?php foreach ($this->propiedad->fotos as $foto) {?>
							<li>
                           		<img alt="" src="<?php echo $foto->getUrl('Principal')?>" width="547" height="310" />
                           		<?php if(isset($foto->Comentario) && $foto->Comentario != ""){?>
                           		<p>
                           			<?php echo $foto->Comentario; ?>
                           		</p>
                             	<?php } else {?>
                             	<p>
                             		<? echo $this->propiedad->DescPropiedad; ?>
                             	</p>
                             	<?php }?>
							</li>
							<?php $ultimafoto = $foto;?>
							<?php }?>
							<?php if($this->propiedad->fotos->size() == 1){?>
								<?php if(isset($ultimafoto)){?>
								<li>
	                           		<img alt="" src="<?php echo $ultimafoto->getUrl('Principal')?>" width="547" height="310" />
	                           		<?php if(isset($ultimafoto->Comentario) && $ultimafoto->Comentario != ""){?>
	                           		<p>
	                           			<?php echo $ultimafoto->Comentario; ?>
	                           		</p>
	                             	<?php } else {?>
	                             	<p>
	                             		<? echo $this->propiedad->DescPropiedad; ?>
	                             	</p>
	                             	<?php }?>
								</li>
								<?php } else {?>
								<li>
	                           		<img alt="" src="/img/foto-powered-by.png" width="547" height="310" />
	                             	<p>
	                             		Housemarket
	                             	</p>
								</li>
								<?php }?>
							<?php }?>
                        </ul>                  
                </div>
                <div class="clear"></div>
            </div>
			<div class="box detalle">
				<div class="title title-detalle">
        			<span><i18n>RENTAL_INFO</i18n></span>
        		</div>
                <div class="field-detalle-hidden">
                	<h1><?php echo $this->propiedad->NombrePropiedad;?></h1>
					<h2><?php echo $this->propiedad->NombreCategoria;?>  </h2>
				</div>
				<div class="field-detalle field-detalle-precio">
                	<span class="label"><i18n>LABEL_SALE</i18n> :</span>
                	<span class="value"><?php echo $this->propiedad->detallePrecioVenta; ?></span>
                </div>
                <div class="field-detalle field-detalle-precio">
                	<span class="label"><i18n>LABEL_RENT</i18n> :</span>
                	<span class="value"><?php echo $this->propiedad->detallePrecioAlquiler; ?></span>
                </div>
                <div class="field-detalle field-detalle-first">
                	<span class="label"><i18n>ADD_ESTATE_ADDITIONAL_INFO_AREA</i18n> :</span>
                	<span class="value"><?php echo $this->propiedad->LabelArea; ?></span>
                </div>
                <div class="field-detalle">
                	<span class="label"><i18n>LABEL_SEARCH_FILTER_LOT_SIZE</i18n> :</span>
                	<span class="value"><?php echo $this->propiedad->LabelAreaLote; ?></span>
                </div>
               
                <?php foreach ($this->AtributoPropiedad as $AtributoPropiedad) { ?>
                <div class="field-detalle">
                	<span class="label"><?php echo $AtributoPropiedad['Label']; ?> :</span>
                	<span class="value"><?php echo $AtributoPropiedad['Value']; ?></span>
                </div>
                <?php } ?>
                <?php if ($this->propiedad->DescPropiedad != "") { ?>
                <div class="field-detalle field-detalle-description">
                	<span class="label"><i18n>ADD_ESTATE_ADDITIONAL_INFO_DESCRIPTION</i18n>:</span>
                	<span class="value"><? echo $this->propiedad->DescPropiedad; ?></span>
                </div>
                <?php } ?>
                <?php if ($this->propiedad->Beneficios != "") { ?>
                	<span class="label"><i18n>ADD_ESTATE_AMMENITIES_TITLE</i18n>:</span>
                	<span class="value"><?php echo $this->propiedad->Beneficios; ?></span>
                <?php } ?>
			</div>
			<div class="box map">
				<div class="title title-map">
        			<span><i18n>TITLE_MAP</i18n></span>
        		</div>
        		<div class="map-ubicacion">
                	<?php echo $this->propiedad->LabelLocation;?>
                </div>
				<div id="mapsearch"></div>
            </div>
        </div><!-- Fin div right-column -->
    <div class="clear"></div>
</div>